
.input_group{
   @apply flex border rounded-xl;
   position: relative;
}
.input_group2{
    @apply flex w-16;
    position: relative;
 }

.input_text{
    @apply w-full py-3 px-5 border rounded-xl bg-slate-50 text-gray-800;
    @apply focus:outline-none border-none;
}
.button{
    @apply w-full bg-gradient-to-r from-blue-500 to-indigo-500 rounded-md;
    @apply py-2 text-gray-50 text-lg;
}
.button:hover{
    @apply bg-gradient-to-r from-gray-50 to-gray-100 border-blue-500;
    @apply text-gray-700 border;
}
.button_custom{
    @apply w-full border py-2 flex justify-center gap-2 bg-white hover:bg-gray-100 rounded-md;
}
.button_custom2{
    @apply w-full border py-3 flex justify-center gap-2 hover:bg-gray-400 rounded-md;
}
.input_text + *{
    color: #CBD5E1;
}
.input_text:focus + *{
    color: #6366f1;
}
.input_text:not([type=email])~span:hover*{
    color: #6366f1;
    cursor: pointer;
}
/* styles/DropdownStyles.module.css */
.dropdownContainer{
    display: inline-flex;
    justify-content: space-evenly;
}
/* Styling the Dropdown container */
/* .dropdown-container {
    display: inline-block;
    margin-right: 1px; 
    
  } */
  
  
  /* Styling the DropdownMenu */
  .dropdown-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling the DropdownItem */
  .dropdown-item {
    padding: 10px 15px; /* Adjust the padding as needed */
    cursor: pointer;
  }
  
  /* Styling the selected item in the DropdownMenu */
  .dropdown-item.selected {
    background-color: #06B7DB;
    color: white;
  }
  
  /* .recaptcha2{
    backg;
  } */
  /* .input-button{
      margin: 0;
  } */
  .button_custom{
    border: 1px solid #023d7d; /* This sets the border color to blue */
    border-radius: 5px; /* Optional: Adds rounded corners to the button */
    color: #01070e; /* Sets the text color to blue */
  }

  @media (max-width: 640px) {
    /* Adjust the form container width */
    .hello {
      width: 100%; /* Use 100% width on smaller screens */
    }
  
    /* Increase the font size and padding for better mobile readability */
    .input_text,
    .dropdown-item {
      font-size: 1.2rem;
      padding: 1rem;
    }
  
    /* Adjust margins and padding for smaller screens */
    .input_group,
    .dropdownContainer {
      margin: 0.1rem 0;
    }
  }