
.BackImg{
   background: url("../../public/assets/cloud2.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-size: 100vw 125vh;
  }
.head{
  font-family:   'Monomaniac One, sans-serif';
}
@media (max-width: 767px) {
  /* Styles for mobile screens */
  .BackImg{
    background: url("../../public/assets/cloud2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100vw 150vh;
   }
}